.addResult__form{
    text-align: center;
}

.goals__input{
    max-width: 20px;
    text-align: center; 
}

.error{
    border: red 2px solid;
}

.error__message{
    font-size: 12px;
    font-style: italic;
    color: red;
}